*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box
    ;
}

body{
    min-height: 100vh;
    overflow-x:hidden;
}
a:hover{
    text-decoration: none;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#img{
    animation: rotate 5s ease-in-out infinite;
    margin-right: 10px;
}
@media (max-width:777px) {
    #nav li{
        display:none;
        margin: 5px;
        /* padding: 50px; */
    }
}


.main ul li{
    justify-self:end;
}

.main ul li a{
    color: green;
    /* font-weight: 500; */
    justify-content: space-evenly;
}

.main ul{
    /* list-unstyled d-flex justify-content-between align-items-center m-2  */
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px;

}
.topnav.responsive{
    display: none;
}
@media (max-width:777px) {
    .main ul{
        display:inline-block;
        width: 100%;
        text-align: center;
        line-height: 50px;
        
    }
    .main ul .nav-items{
        /* margin-top: 15px; */
        padding: 20px;
    }
    .hidden{
        display: none;
    }
}
#bar{
    cursor: pointer;
}
#cross{
    cursor: pointer;
    display: none;
}
@media (min-width:777px){
    #bar{
        display: none;
    }
    #cross{
        display: none;
    }
}

#buttton_shadow{
    padding: 7px 15px;
    color: white;
    font-weight: 300;
    border: 2px solid white;
    border-radius: 33px;
    transition-duration: 0.5s;
    /* background-color: white; */
}
#buttton_shadow:hover{
    text-decoration: none;
    box-shadow: inset 100px 100px 0px 0px green;
    border: 2px solid white;
    color: white;

} 
#hover{
    transition-duration: 1s;
}
.hover:hover{
    cursor: pointer;
}
.hover:hover  #hover{

    color: red;
    position:absolute;
    top: 50;
    z-index: 20;
}